body {
  background-color: black;
}

.top-left{
  background-color: red;
  border: 2px solid black;
}

.middle{
  background-color: white;
  border: 2px solid black;
}

.top-right{
  background-color: blue;
  border: 2px solid black;
}

.row{
  height: 50px;
}

.btn{
  margin-left: 650px;
  margin-top: 250px;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 50px;
  transition: all 1s;
}
