body {
  background-color: black;
  /*border: 2px solid black;*/
}
/*.row{
    height: 30px;
    border: 6px;
    border-color: blue;
    text-align: center;
    border: 2px solid black;
}*/
.top-left{
  background-color: red;
  border: 2px solid black;

}
.middle{
  background-color: white;
  border: 2px solid black;
}
.top-right{
  background-color: blue;
  border: 2px solid black;
}
.bottom-row{
  height: 770px;
  background-color: black;
}
.row{
  height: 50px;
}
.btn{
  margin-left: 650px;
  margin-top: 250px;
}
